-login_fbox ||= false
-if login_fbox
  -action = {:controller=>'sessions',:action=>'login_fbox_create'}
  -html_param = {:class=>'login-form',:multipart=>true,:target => 'upload_frame'}
-action ||= {:controller=>'sessions',:action=>'create'}
-html_param ||= {:class=>'login-form'}

-form_tag(action,html_param) do
  .form_error.hide
  .field
    %label=t('activerecord.attributes.user.email')
    -if current_user
      ="您此时登录的用户邮箱是#{current_user.email},将切换一下邮箱登录："
    -if @user
      =@user.email
      =hidden_field_tag :email,@user.email
    -else
      =text_field_tag :email,params[:email],:class=>'text'
  .field
    %label=t('activerecord.attributes.user.password')
    =password_field_tag :password,params[:password],:class=>'text'
  .form_actions.clearfix
    .fleft.remember-me
      %span=check_box_tag :remember_me,params[:remember_me],false,:class=>'checkbox'
      %span=t('page.login_form.remember_me')
    .fright
      =submit_tag t('page.login_form.login'),:class=>"button submit"